<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.bean.Person">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="userName" jdbcType="VARCHAR" property="userName" />
        <result column="passWord" jdbcType="VARCHAR" property="passWord" />
        <result column="realName" jdbcType="VARCHAR" property="realName" />
    </resultMap>

    <select id="Sel" parameterType="int" resultType="com.example.demo.bean.Person">
        select * from person where id = #{id}
    </select>

    <delete id="Del" parameterType="int">
        delete from person where id = #{id}
    </delete>

    <insert id="Ins" parameterType="com.example.demo.bean.Person">
        insert into person values(#{id},#{userName},#{passWord},#{realName})
    </insert>

    <update id="upDate" parameterType="com.example.demo.bean.Person">
        update person set userName=#{userName} where id=#{id}
    </update>


</mapper>